$bg-white: #ffffff;
$bg-gray: #E4E7F0;
$text-white: #ffffff;
$text-GrayBlue50: #4D5E80;
$bg-GrayBlue85: #C3CAD9;
$text-GrayBlue70: #7D8FB3;
$text-GrayBlue96: #F2F3F5;
$border-color: #f5f6f7;
$link-background: rgba(230, 46, 123, 0.1);
$link-text: #e62e7b;
$bg-body: #e5e5e5;
$bg-pink: #e62e7b;
$text-orange: #f36333;
$bg-light-orange: rgba(255, 102, 51, 0.1);
